@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* Global variables */
:root {
  --orange: #ff7800;
  /* --red: #AB0000; */
  --red: #bf0a0a;
  --red-hover: #8c0712;
  --green: #014017;
  --green-2: #558b2f;
  --green-hover: #1a5918;
  --blue: #0d6493;
  --blue-hover: #1287c6;
  --main-background: #110400;
  --gray-background: #f1f2f3;
  --white: #ffffff;
  --lightgray: #d3d3d3;
  --apiary-color: #17a2b8;
  --apiary-color-hover: #6ce7e3;
  --beehive-color: #f29422;
  --beehive-color-hover: #fead34;
  --queen-color: #da3c3d;
  --queen-color-hover: #d9695d;
}

p::selection,
a::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
label::selection,
span::selection,
li::selection,
input::selection,
select::selection,
textarea::selection,
th::selection,
td::selection,
img::selection {
  background-color: var(--orange);
  color: var(--white);
}

input,
select,
textarea {
  outline: none;
  font-size: 16px;
  border: 2px solid var(--lightgray);
  caret-color: var(--orange);
  /* border-radius: 5px; */
}

body {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #110400;
  border-bottom: 5px solid var(--beehive-color);
}

.navbar .navbar-brand {
  display: flex;
  align-items: center;
}

.navbar .navbar-brand a {
  text-decoration: none;
}

.navbar .navbar-brand .logo {
  width: 50px;
}

.navbar .navbar-brand .logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--beehive-color);
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

.navbar .navbar-brand .logo-link p {
  margin-left: 10px;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.navbar ul li {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.navbar .ul-out li {
  letter-spacing: 0.2em;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--beehive-color);
  font-weight: 500;
}

.navbar .ul-out li a {
  padding: 20px 20px;
  border-top: 5px solid transparent;
}

.navbar .ul-out li a:hover {
  border-top: 5px solid white;
}

.navbar ul li .active {
  border-top: 5px solid var(--beehive-color);
}

.navbar .ul-login-register li .login-btn {
  color: white;
  padding: 8px 15px;
}

.navbar .ul-login-register li .login-btn:hover {
  color: var(--beehive-color);
}

.navbar .ul-login-register li .register-btn {
  color: white;
  border: 3px solid var(--beehive-color);
  border-radius: 20px;
  padding: 5px 15px;
}

.navbar .ul-login-register li .register-btn:hover {
  border: 3px solid white;
}

/* Cookies Policy*/

.cookies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  padding: 20px;
  background-color: var(--beehive-color);
  color: white;
  opacity: 0.9;
  transition: opacity 0.6s;
  bottom: 0;
}

.cookies button {
  color: white;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

.cookies button:hover {
  color: whitesmoke;
}

/* Banner */
.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/img/banner.jpg);
  height: 100vh;
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  color: wheat;
  border-bottom: 5px solid var(--beehive-color);
}

.banner-text h1 {
  font-size: 4em;
}

.banner-text p {
  font-size: 1.3em;
  margin-top: 20px;
  color: wheat;
}

.form-box-bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/img/banner.jpg);
  background-size: cover;
  background-position: center;
}

/* Forms */
.form-box {
  /* position: absolute;
  top: 50%;
  left: 58%; */
  padding: 40px;
  /* transform: translate(-50%, -50%); */
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgba(242, 148, 34, 0.3);
  color: var(--white);
  width: 450px;
  margin: 0 auto;
}

.form-box.login-register form {
  margin-bottom: 10px;
}

.form-box section {
  text-align: center;
}

.form-box section p {
  margin-top: 10px;
}

.form-box .back {
  color: var(--red);
}

.form-box .back:hover {
  color: var(--red-hover);
}

.form-box h2 {
  padding: 0;
  text-align: center;
}

.form-box hr {
  height: 1px;
  background-color: white;
  border-radius: 1px;
  width: 100%;
  margin-top: 5px;
}

.form-box .input-box {
  display: grid;
  font-size: 18px;
  margin-top: 10px;
}

.form-box .input-box label {
  margin-bottom: 5px;
}

.form-box .input-box input,
.form-box .input-box select {
  outline: none;
  font-size: 18px;
  border: 3px solid var(--lightgray);
  padding: 3px;
}

.form-box .input-box input:focus,
.form-box .input-box select:focus {
  border: 3px solid var(--orange);
}

.form-box input:invalid {
  border-color: var(--red);
  color: var(--red);
}

.form-box .input-box.check {
  display: flex;
}

.form-box .btn-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.form-box .btn-group .btn {
  background: var(--orange);
  padding: 10px;
  font-size: 16px;
  border: 1px;
  color: var(--white);
  min-width: 100px;
}

form input[aria-invalid="true"] {
  border-color: var(--red);
  color: var(--red);
}

.link-group {
  margin-top: 20px;
}

.link-group a {
  color: var(--beehive-color);
}

.link-group a:hover {
  color: var(--beehive-color-hover);
}

.link-group a:visited {
  color: var(--white);
}

span.error-msg {
  display: block;
  color: var(--red);
  font-size: 18px;
}

/* Footer */

footer {
  /* position: absolute;
  left: 0;
  bottom: 0; */
  width: 100%;
  background-color: #110400;
  border-top: 5px solid var(--beehive-color);
  color: white;
}

footer h1 {
  font-size: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px auto;
}

.footer-social {
  text-align: center;
  margin: 10px;
}

.footer-about {
  margin: 10px;
}

.footer-about ul {
  list-style: none;
}

.footer-about ul li {
  margin-top: 10px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin-top: 10px;
}

.footer-about ul li a {
  text-decoration: none;
  color: white;
}

.footer-about ul li a:hover {
  color: var(--beehive-color);
}

.footer-social ul li a {
  text-decoration: none;
  color: white;
}

.footer-social ul li a:hover {
  color: var(--beehive-color);
}

.footer-social ul li a i {
  font-size: 25px;
  transition: 1.5s;
}

.footer-social ul li a i:hover {
  transform: rotate(360deg);
}

.footer-copyright {
  text-align: center;
  padding: 10px;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #110400;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2a2623;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5c5655;
}

.center-screen-parent {
  text-align: center;
  border: 3px solid orange;
  border-radius: 5px;
  padding: 50px;
  margin: 170px;
  font-size: 16px;
}

.forgot-password {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/img/banner.jpg);
  color: wheat;
  background-size: cover;
  background-position-y: top;
}


.form-submit {
  text-align: center;
  border: 3px solid var(--orange);
  border-radius: 5px;
  padding: 50px;
  margin: 170px;
}

.form-submit form {
  margin-top: 30px;
}

.form-submit .form-group {
  display: flex;
  flex-direction: column;
}

.form-submit .form-group .input-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.form-submit .form-group .input-group label {
  margin-right: 3px;
}

.form-submit .form-content {
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto;
}

.form-submit button {
  border-radius: 3px;
  font-size: 16px;
  margin-top: 10px;
  padding: 5px 10px;
  background: var(--orange);
  border: 3px solid var(--orange);
  color: var(--white);
  cursor: pointer;
}

.form-submit button:hover {
  background: var(--white);
  color: var(--orange);
}

.text-danger {
  color: var(--red);
}

.text-danger ul li {
  list-style-type: none;
}

.active-link {
  text-decoration: underline;
  color: var(--blue);
}

.active-link:hover {
  color: var(--orange);
}

.contact-page {
  background: red;
}

.about-page,
.contact-page {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/img/banner.jpg);
  color: wheat;
  background-size: cover;
  background-position-y: top;
}

.about-page .iframe-container {
  display: flex;
  justify-content: center;
}

.about-page .iframe-container iframe {
  width: 830px;
  height: 500px;
  margin-top: 15px;
}

.about-page h2,
.contact-page h4 {
  text-align: center;
}

.about-page .par {
  margin: 20px 0;
  padding-left: 10px;
}

.about-page .par p {
  margin: 10px 0;
  padding-left: 10px;
}

.about-page .par ul {
  margin: 10px 0;
  padding-left: 20px;
}

.contact-page .form-box {
  padding: 40px;
  background: none;
  box-shadow: 0px 0px 20px rgba(242, 148, 34, 0.3);
  border: 3px solid var(--orange);
  color: var(--white);
  width: 500px;
  margin: 0 auto;
  border-radius: 10px;
}

.contact-page .form-box form input[type="submit"] {
  width: 100%;
  padding: 10px;
  color: var(--white);
  background: var(--orange);
  border: none;
}

.contact-page .form-box form input[type="submit"]:hover {
  border: 3px solid var(--white);
  box-shadow: 0 0 10px rgb(242, 148, 34);
  padding: 7px;
}

.contact-page .form-box form input,
.contact-page .form-box form textarea {
  border-radius: 8px;
  padding: 5px;
}

.contact-page .form-box form .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.contact-page .form-box form .input-group {
  caret-color: var(--orange);
}

.form-box form .input-group.max {
  width: 100%;
}

.app-benefits-cards {
    background-color: #110400;
}

.app-benefits-cards {
    background-color: #110400;
}

    .app-benefits-cards h1 {
        text-align: center;
        color: wheat;
        padding-top: 30px;
    }

    .app-benefits-cards hr {
        border: 2px solid #F29422;
        width: 550px;
        margin: 20px auto !important;
    }

.app-benefits-cards-collection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.app-benefits-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
    margin: 4% 0;
}

.app-benefits-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.app-benefits-card:hover .app-benefits-card-inner {
    transform: rotateY(180deg);
}

.app-benefits-card-front, .app-benefits-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.app-benefits-card-front {
    background-color: #F28705;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
}

.app-benefits-card-back {
    background-color: #fffdfd;
    color: #F28705;
    border: 3px solid #F28705;
    border-radius: 50%;
    transform: rotateY(180deg);
}

.app-benefits-card-body {
    width: 90%;
}

    .app-benefits-card-body i {
        font-size: 100px;
    }

