@model BeekeeperAssistant.Web.ViewModels.BeehiveHelpers.AllBeehiveHelpersViewModel

@foreach (var beehiveHelper in Model.AllHelpers)
{
    <div>
        <div>
            @beehiveHelper.UserUserName - @Html.DisplayFor(x => beehiveHelper.Access)
        </div>
        <div>
            <a asp-controller="BeehiveHelper" asp-action="Edit" asp-route-beehiveId="@beehiveHelper.BeehiveId" asp-route-userId="@beehiveHelper.UserId">Редактирай</a>
        </div>
    </div>
}