/* Global variables */
:root {
  --orange: #ff7800;
  /* --red: #AB0000; */
  --red: #bf0a0a;
  --red-hover: #8c0712;
  --green: #014017;
  --green-2: #558b2f;
  --green-hover: #1a5918;
  --blue: #0d6493;
  --blue-hover: #1287c6;
  --main-background: #110400;
  --expand-row-background: #f1f1f1;
  --gray-background: #f1f2f3;
  --white: #ffffff;
  --lightgray: #d3d3d3;
  --darkgray: #615b5b;
  --apiary-color: #17a2b8;
  --apiary-color-hover: #6ce7e3;
  --beehive-color: #f29422;
  --beehive-color-hover: #fead34;
  --queen-color: #da3c3d;
  --queen-color-hover: #d9695d;
  --black: #000000;
  --transparent: #ffffff00;
}

@media only screen and (min-width: 1024px) {
  .aside-icon {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  main {
    margin: 0;
  }

  .sidebar-navigation {
    display: none;
    overflow-y: scroll;
  }

  .sidebar-navigation .navigations {
    margin-bottom: 50px;
  }

  .sidebar-navigation::-webkit-scrollbar {
    width: 0;
  }

  .sidebar-navigation::-webkit-scrollbar-track {
    -webkit-box-shadow: #110400;
    box-shadow: #110400;
  }

  .sidebar-navigation::-webkit-scrollbar-thumb {
    -webkit-box-shadow: #110400;
    box-shadow: #110400;
  }

  /* sidebar navigations scroller */
  .sidebar-navigation .navigations {
    overflow-y: scroll;
  }

  .sidebar-navigation .navigations::-webkit-scrollbar {
    width: 5px;
  }

  .sidebar-navigation .navigations::-webkit-scrollbar-track {
    -webkit-box-shadow: #290b02; /* inset 0 0 6px rgba(0, 0, 0, 0.3); */
    box-shadow: #290b02; /* inset 0 0 6px rgba(0, 0, 0, 0.3); */
    border-radius: 5px;
  }

  .sidebar-navigation .navigations::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: #6f6968; /* inset 0 0 6px red; */
  }

  .content {
    padding: 60px 25px 25px 25px;
  }

  .content.center {
    left: 0;
  }

  .breadcrumb {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0 20px;
  }

  .breadcrumb {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0 20px;
  }

  .breadcrumb .aside-icon {
    display: block;
    color: var(--white);
  }

  .breadcrumb-list {
    display: none !important;
  }

  .breadcrumb-list.responsive {
    display: flex !important;
  }

  /* Sidebar */
  .sidebar-navigation .user-type-icon {
    color: var(--orange);
    position: absolute;
    top: 145px;
    left: 180px;
  }

  .sidebar-navigation {
    position: fixed;
    top: 40px;
    z-index: 2;
  }

  .sidebar-navigation .sidebar-breadcrumb {
    display: none;
  }

  .sidebar-navigation .user-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
    margin: 0 0 50px 0;
  }

  .aside-content-cover {
    display: none;
    background: #11040087;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 40px;
    left: 270px;
    z-index: 2;
  }

  .breadcrumb .aside-icon i {
    font-size: 18px;
  }

  .breadcrumb .aside-icon:hover {
    color: var(--orange);
  }

  .breadcrumb .aside-icon:active {
    color: var(--orange);
  }

  .breadcrumb .breadcrumb-leave {
    margin: 0;
  }

  .breadcrumb .breadcrumb-list {
    display: none;
  }

  .breadcrumb .breadcrumb-list .responsive {
    display: flex;
  }

  .title-1 {
    font-size: 26px;
  }

  /* Page tab */
  .tab-title.title-1 {
    font-size: 22px;
  }

  .tab .tablinks .text {
    display: none;
  }

  .tab .tablinks {
    padding: 15px 0;
  }

  .tab .tablinks i {
    margin: 0;
  }

  .tab.apiary .tablinks {
    width: 25%;
  }

  .tab.beehive .tablinks {
    width: 14.28%;
  }

  .data-view {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--lightgray);
    border-radius: 10px;
  }

  .data-view .apiary-info {
    display: flex;
    flex-direction: column;
  }

  .data-view .apiary-info table {
    margin-right: 0;
  }

  .data-view .apiary-info .data-edit {
    display: grid;
    align-items: center;
    align-content: space-between;
  }

  .data-view .apiary-info .data-edit input,
  .data-view .apiary-info .data-edit a {
    margin: 5px 0;
  }

  .data-view .apiary-info .data-edit.beehive-info {
    display: grid;
    align-items: center;
    align-content: space-between;
  }

  /* All create and edit forms */
  .form-box form .group-box .input-group {
    width: 100%;
    margin-top: 5px;
  }

  .form-box form .input-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    caret-color: var(--orange);
    margin-bottom: 10px;
  }

  .btn-group {
    display: flex;
    flex-direction: column-reverse;
  }

  .btn-group input {
    margin-bottom: 15px;
  }
/* 
  .btn-group input:last-child {
    /* margin-bottom: 0; */
  } */

  .form-star-tip {
    margin-top: 30px;
    color: var(--darkgray);
    font-style: italic;
  }

  /* Apiary forms */
  .input-apiary-number .input-group {
    width: 45% !important;
  }

  .form-box form .input-apiary-number.row-form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  .input-apiary-number .dash {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }

  .is-apiary-registred-box {
    display: flex;
    flex-wrap: wrap;
  }

  .is-apiary-registred-box input {
    width: 47%;
    text-align: center;
  }

  .all-table {
    display: none;
  }

  .all-table-responsive {
    display: block;
  }

  /* Apiary & Beehive notes */
  .custom-notes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Page controls */
  .page-controls.one {
    display: flex;
    flex-direction: column;
  }

  .page-controls .btn {
    margin-bottom: 10px;
  }

  /* Choose add beehive for movable apiary */
  .add-beehive-type .input-box .input-group {
    display: flex;
    flex-flow: column;
  }

  .add-beehive-type .input-box .add-new {
    margin-right: 0;
  }

  /* Page controls */
  .beehive-flag {
    justify-content: center;
    padding: 10px;
  }

  .page-controls.both-sides {
    display: flex;
    flex-flow: column;
  }

  /* Beehive mark flad */
  .beehive-flag .choose-mark .flags {
    margin-left: 10px;
    font-size: 24px;
  }

  .table-number-flag-mark {
    display: flex;
    justify-content: center;
  }

  .table-number-flag-mark i {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .create-redirect-container-center {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  
  .create-redirect-container-center a {
    width: 100%;
  }
  
  .create-redirect-container-center a:last-child {
    margin-top: 25px;
    margin-left: 0;
  }
}
