@using BeekeeperAssistant.Web.ViewModels.Shared

@{
    ViewData["Title"] = "Помощ и отзиви";

    var navigation = new Dictionary<string, string>();
    navigation.Add("Табло", "/App");
    navigation.Add(ViewData["Title"].ToString(), null);

    var breadcrumbNav = new BreadcrumbModel
    {
        Navigation = navigation,
    };
}

<partial model="@breadcrumbNav" name="_BreadcrumbPartial" />

<div class="content center">
    <partial name="_StatusMessagePartial" />
    <div class="dashboard-cards-list">
        <div class="feedback-content-card">
            <a class="help" asp-controller="Feedback" asp-action="Create" asp-route-feedbackType="@FeedbackType.Help">
                <i class="far fa-question-circle hover-show"></i>
                <i class="fas fa-question-circle hover-hide"></i>
                <p>Нуждаете се от помощ?</p>
            </a>
        </div>
        <div class="feedback-content-card">
            <a class="feed" asp-controller="Feedback" asp-action="Create"
                asp-route-feedbackType="@FeedbackType.Feedback">
                <i class="far fa-lightbulb hover-show"></i>
                <i class="fas fa-lightbulb hover-hide"></i>
                <p>Имате идея? Слушаме ви!</p>
            </a>
        </div>
        <div class="feedback-content-card">
            <a class="report" asp-controller="Feedback" asp-action="Create"
                asp-route-feedbackType="@FeedbackType.Report">
                <i class="fas fa-exclamation-triangle"></i>
                <p>Забелязали сте проблем?</p>
            </a>
        </div>
        <div class="feedback-content-card">
            <a class="documentation" target="blank" href="~/documents/BeekeeperAssistant_Users_Guide.pdf">
                <i class="fas fa-book-open"></i>
                <p>Потребителскo ръководство</p>
            </a>
        </div>
    </div>
</div>