@model BeekeeperAssistant.Web.ViewModels.Queens.CreateQueenInputModel
@using BeekeeperAssistant.Data.Models;
@{

}

<form method="post" asp-controller="Queen" asp-action="Create">
    <div>
        <label asp-for="FertilizationDate"></label>
        <input asp-for="FertilizationDate" />
        <span asp-validation-for="FertilizationDate"></span>
    </div>
    <div>
        <label asp-for="GivingDate"></label>
        <input asp-for="GivingDate" />
        <span asp-validation-for="GivingDate"></span>
    </div>
    <div>
        <label asp-for="Origin"></label>
        <input asp-for="Origin" />
        <span asp-validation-for="Origin"></span>
    </div>
    <div>
        <label asp-for="Breed"></label>
        <select asp-for="Breed" asp-items="@Html.GetEnumSelectList<QueenBreed>()"></select>
        <span asp-validation-for="Breed"></span>
    </div>
    <div>
        <label asp-for="Color"></label>
        <select asp-for="Color" asp-items="@Html.GetEnumSelectList<QueenColor>()"></select>
        <span asp-validation-for="Color"></span>
    </div>
    <div>
        <label asp-for="Temperament"></label>
        <input asp-for="Temperament" />
        <span asp-validation-for="Temperament"></span>
    </div>
    <div>
        <label asp-for="HygenicHabits"></label>
        <input asp-for="HygenicHabits" />
        <span asp-validation-for="HygenicHabits"></span>
    </div>
    <div>
        <label asp-for="QueenType"></label>
        <select asp-for="QueenType" asp-items="@Html.GetEnumSelectList<QueenType>()"></select>
        <span asp-validation-for="QueenType"></span>
    </div>

    <input type="hidden" asp-for="BeehiveId" />

    <button type="submit">Submit</button>
</form>