@model BeekeeperAssistant.Web.ViewModels.Beehives.CreateRedirectBeehiveViewModel
@{
    ViewData["Title"] = "Пренасочване";
}

<div class="breadcrumb">
    <div class="aside-icon" onclick="asideBurgerMenuClick();">
        <i class="fas fa-bars"></i>
    </div>
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Табло</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Beehive" asp-action="All">Кошери - всички</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
</div>

<div class="content center">
    <div>
        <h1 style="text-align: center;">Продължете към?</h1>
        <div class="create-redirect-container-center">
            <a class="btn beehive" asp-controller="Beehive" asp-action="ById" asp-route-id="@Model.BeehiveId">
                Към кошера
            </a>
            <a class="btn edit" asp-controller="Beehive" asp-action="Create" asp-route-id="@Model.ApiaryId">
                Добавяне на нов кошер
            </a>
        </div>
    </div>
</div>
</div>
