@using BeekeeperAssistant.Web.ViewModels.Shared

@{
    ViewData["Title"] = "Добавяне на кошери";

    var navigation = new Dictionary<string, string>();
    navigation.Add("Табло", "/App");
    navigation.Add(ViewData["Title"].ToString(), null);

    var breadcrumbNav = new BreadcrumbModel
    {
        Navigation = navigation,
    };
}

<partial model="@breadcrumbNav" name="_BreadcrumbPartial" />

<div class="content">
    <h1 class="title-1">Изберете начин на добавяне</h1>
    <div class="choose-how-to-add-hives">
        <a asp-controller="Beehive" asp-action="CreateMultipleBeehives" asp-route-useStartEndNumber="true" class="add-1">
            Задаване на начален и краен номер
        </a>
        <a asp-controller="Beehive" asp-action="CreateMultipleBeehives" asp-route-useStartEndNumber="False" class="add-2">
            Въвеждане на всички номера ръчно
        </a>
    </div>
</div>
