@model BeekeeperAssistant.Web.ViewModels.Beehives.CreateRedirectBeehiveViewModel
@using BeekeeperAssistant.Web.ViewModels.Shared

@{
    ViewData["Title"] = "Пренасочване";

    var navigation = new Dictionary<string, string>();
    navigation.Add("Табло", "/App");
    navigation.Add("Кошери - всички", "/App/Beehive/All");
    navigation.Add(ViewData["Title"].ToString(), null);

    var breadcrumbNav = new BreadcrumbModel
    {
        Navigation = navigation,
    };
}

<partial model="@breadcrumbNav" name="_BreadcrumbPartial" />

<div class="content center">
    <div>
        <h1 style="text-align: center;">Продължете към?</h1>
        <div class="create-redirect-container-center">
            <a class="btn beehive" asp-controller="Beehive" asp-action="ById" asp-route-id="@Model.BeehiveId">
                Към кошера
            </a>
            <a class="btn edit" asp-controller="Beehive" asp-action="Create" asp-route-id="@Model.ApiaryId">
                Добавяне на нов кошер
            </a>
        </div>
    </div>
</div>
</div>
