@using BeekeeperAssistant.Common
@{
    this.ViewData["Title"] = "За нас";
}

<div class="about-page">
    <h2>@GlobalConstants.SystemName</h2>
    <div class="iframe-container">
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vTJCG5SHdh__1ChVJ-uC9Ceq9-9_rErDhV0Xc6dmZWC8Xr8MkDT6YB165t4JhxYQg/pub?embedded=true"></iframe>
    </div>
</div>
