@using BeekeeperAssistant.Common
@{
    this.ViewData["Title"] = "За нас";
}

<div class="about-page">
    <h2><i class="fas fa-book-open"></i> Ръководство на потребителя <i class="fas fa-book-open"></i></h2>
    <div class="iframe-container">
        @*<iframe src="https://docs.google.com/document/d/e/2PACX-1vTJCG5SHdh__1ChVJ-uC9Ceq9-9_rErDhV0Xc6dmZWC8Xr8MkDT6YB165t4JhxYQg/pub?embedded=true"></iframe>*@
        <iframe src="~/documents/BeekeeperAssistant_Users_Guide.pdf"></iframe>
    </div>
</div>
