@using BeekeeperAssistant.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@if (!this.User.Identity.IsAuthenticated)
{

    <div class="banner">
        <div class="banner-text">
            <h1>@GlobalConstants.SystemName</h1>
            <p>...the best place to store your beekeeping data.</p>
        </div>
    </div>

    <div class="card-group-functions">
        <div>
            <h2>Top Features</h2>
        </div>
        <div class="card-group justify-content-center">
            <div class="card-container m-5">
                <div class="card card-front card-functions">
                    <div class="m-auto p-1">
                        <img class="card-img-top" src="/images/BA_demoLogo.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card card-back">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="card-container m-5">
                <div class="card card-front card-functions">
                    <div class="m-auto p-1">
                        <img class="card-img-top" src="/images/BA_demoLogo.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card card-back">
                    <div class="card-body">
                        <a href="#" class="btn btn-success">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="card-container m-5">
                <div class="card card-front card-functions">
                    <div class="m-auto p-1">
                        <img class="card-img-top" src="/images/BA_demoLogo.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card card-back">
                    <div class="card-body">
                        <a href="#" class="btn btn-success">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="card-container m-5">
                <div class="card card-front card-functions">
                    <div class="m-auto p-1">
                        <img class="card-img-top" src="/images/BA_demoLogo.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card card-back">
                    <div class="card-body">
                        <a href="#" class="btn btn-success">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="card-container m-5">
                <div class="card card-front card-functions">
                    <div class="m-auto p-1">
                        <img class="card-img-top" src="/images/BA_demoLogo.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card card-back">
                    <div class="card-body">
                        <a href="#" class="btn btn-success">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="card-container m-5">
                <div class="card card-front card-functions">
                    <div class="m-auto p-1">
                        <img class="card-img-top" src="/images/BA_demoLogo.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card card-back">
                    <div class="card-body">
                        <a href="#" class="btn btn-success">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{
<<<<<<< HEAD
    <ul class="today-datas">
        <!-- List #1 -->
        <li>
            <!-- Graph -->
            <div><span id="todayspark1" class="spark"><canvas width="77" height="30" style="display: inline-block; width: 77px; height: 30px; vertical-align: top;"></canvas></span></div>
            <!-- Text -->
            <div class="datas-text">11,500 visitors/day</div>
        </li>
        <li>
            <div><span id="todayspark2" class="spark"><canvas width="101" height="30" style="display: inline-block; width: 101px; height: 30px; vertical-align: top;"></canvas></span></div>
            <div class="datas-text">15,000 Pageviews</div>
        </li>
        <li>
            <div><span id="todayspark3" class="spark"><canvas width="175" height="30" style="display: inline-block; width: 175px; height: 30px; vertical-align: top;"></canvas></span></div>
            <div class="datas-text">30.55% Bounce Rate</div>
        </li>
        <li>
            <div><span id="todayspark4" class="spark"><canvas width="186" height="30" style="display: inline-block; width: 186px; height: 30px; vertical-align: top;"></canvas></span></div>
            <div class="datas-text">$16,00 Revenue/Day</div>
        </li>
        <li>
            <div><span id="todayspark5" class="spark"><canvas width="250" height="30" style="display: inline-block; width: 250px; height: 30px; vertical-align: top;"></canvas></span></div>
            <div class="datas-text">12,000000 visitors every Month</div>
        </li>
    </ul>
=======
    <div class="align-self-md-center">
        <div class="text-center">
            <a asp-controller="Apiary" asp-action="Create">Create Apiary</a>
        </div>

        <div class="text-center">
            <a asp-controller="Apiary" asp-action="All">My Apiaries</a>
        </div>
    </div>

>>>>>>> bb46c1e01c43100c4954f7a15ad07576901e0877
}
