@using BeekeeperAssistant.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@if (!this.User.Identity.IsAuthenticated)
{

    <div class="banner">
        <div class="banner-text">
            <h1>@GlobalConstants.SystemName</h1>
            <p>...the best place to store your beekeeping data.</p>
        </div>
    </div>

    <div class="card-group-functions">
        <div>
            <h2>Top Features</h2>
        </div>
        <div class="card-group justify-content-center">
            <div class="card-container m-5">
                <div class="card card-front card-functions">
                    <div class="m-auto p-1">
                        <img class="card-img-top" src="/images/BA_demoLogo.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card card-back">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="card-container m-5">
                <div class="card card-front card-functions">
                    <div class="m-auto p-1">
                        <img class="card-img-top" src="/images/BA_demoLogo.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card card-back">
                    <div class="card-body">
                        <a href="#" class="btn btn-success">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="card-container m-5">
                <div class="card card-front card-functions">
                    <div class="m-auto p-1">
                        <img class="card-img-top" src="/images/BA_demoLogo.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card card-back">
                    <div class="card-body">
                        <a href="#" class="btn btn-success">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="card-container m-5">
                <div class="card card-front card-functions">
                    <div class="m-auto p-1">
                        <img class="card-img-top" src="/images/BA_demoLogo.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card card-back">
                    <div class="card-body">
                        <a href="#" class="btn btn-success">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="card-container m-5">
                <div class="card card-front card-functions">
                    <div class="m-auto p-1">
                        <img class="card-img-top" src="/images/BA_demoLogo.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card card-back">
                    <div class="card-body">
                        <a href="#" class="btn btn-success">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="card-container m-5">
                <div class="card card-front card-functions">
                    <div class="m-auto p-1">
                        <img class="card-img-top" src="/images/BA_demoLogo.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card card-back">
                    <div class="card-body">
                        <a href="#" class="btn btn-success">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{

}
