@using BeekeeperAssistant.Common
@model BeekeeperAssistant.Web.ViewModels.Home.IndexHomeViewModel
@{
    this.ViewData["Title"] = "Начало";
    int colorsCounter = 0;
}

<div class="banner">
    <div class="banner-text .ml2">
        <h1>@GlobalConstants.SystemName</h1>
        <p>Дневникът на съвременния пчелар</p>
    </div>
</div>
<div class="app-benefits-cards">
    @* <h1>Възможности които предоставя</h1> *@
    <p class="quote">
        <span class="quotes">„</span>Пчеларите се грижат за една от основните животоподдържащи системи на планетата - пчелите<span class="quotes">“</span>
        <br>
        <i class="author">- от създателите</i>
    </p>

    <div class="app-benefits-cards-list">
        <div class="card">
            <div class="card-inner queen">
                <div class="front-page">
                    <img src="~/img/bee-wheat.svg" alt="" width="50px">
                    <h3>Майки</h3>
                </div>
                <div class="back-page">
                    <img src="~/img/bee-wheat.svg" alt="" width="50px">
                    <h3>Майки</h3>
                    <p>Информация за всички придадени пчелни майки, по кошери, цветове и години.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner helper">
                <div class="front-page">
                    <img src="~/img/helper-wheat.svg" alt="" width="50px">
                    <h3>Помощници</h3>
                </div>
                <div class="back-page">
                    <img src="~/img/helper-wheat.svg" alt="" width="50px">
                    <h3>Помощници</h3>
                    <p>Kъм всеки пчелин могат да се добавят помощници, с различни права на достъп.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner qr">
                <div class="front-page">
                    <img src="~/img/qr-wheat.svg" alt="" width="50px">
                    <h3>QR код</h3>
                </div>
                <div class="back-page">
                    <img src="~/img/qr-wheat.svg" alt="" width="50px">
                    <h3>QR код</h3>
                    <p>Уникален qr код за всеки пчелин и кошер, улесняващ достъпа до тях.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner apiary">
                <div class="front-page">
                    <img src="~/img/apiary-wheat.svg" alt="" height="30px">
                    <h3>Пчелини</h3>
                </div>
                <div class="back-page">
                    <img src="~/img/apiary-wheat.svg" alt="" height="30px">
                    <h3>Пчелини</h3>
                    <p>Извежда списък със създадените пчелини на потребителя, достъп до информацията и кошерите на всеки пчелин.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner beehive">
                <div class="front-page">
                    <img src="~/img/beehive-wheat.svg" alt="" height="50px">
                    <h3>Кошери</h3>
                </div>
                <div class="back-page">
                    <img src="~/img/beehive-wheat.svg" alt="" height="50px">
                    <h3>Кошери</h3>
                    <p>Списък с кошерите, групирани по пчелини и достъп до информацията за тях. Възможно е добавяне на прегледи, третирания и добиви.</p>
                </div>
            </div>
        </div>
    </div>
</div>
