@using BeekeeperAssistant.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Apiary" asp-action="Create">Create A</a>
    <a asp-controller="Apiary" asp-action="All">All A</a>
</div>
