@using BeekeeperAssistant.Common
@{
    this.ViewData["Title"] = "Начало-Табло";
}

@*TODO: Separate these into two view components*@
@if (!User.Identity.IsAuthenticated)
{
    <div class="banner">
        <div class="banner-text">
            <h1>@GlobalConstants.SystemName</h1>
            <p>...the best place to store your beekeeping data.</p>
        </div>
    </div>
}
else
{

    <div class="breadcrumb">
        <ul class="breadcrumb-list">
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ul>
        <div class="breadcrumb-leave">
            <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
            </form>
        </div>
    </div>

    <div class="content">
        <div class="dashboard-cards-list">
            <div class="dashboard-card">
                <div class="dashboard-card-header apiary">
                    <img src="~/img/apiaryIcon.png" alt="apiaryIcon.png">
                    <h1>Достъп до пчелините:</h1>
                </div>
                <div class="dashboard-card-body apiary">
                    <a asp-controller="Apiary" asp-action="All">
                        <div>
                            <p>Към списъка</p>
                            <i class="fas fa-arrow-circle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="dashboard-card">
                <div class="dashboard-card-header beehive">
                    <img src="~/img/beehiveIcon.png" alt="beehiveIcon.png">
                    <h1>Достъп до кошерите:</h1>
                </div>
                <div class="dashboard-card-body beehive">
                    <a asp-controller="Beehive" asp-action="All">
                        <div>
                            <p>Към списъка</p>
                            <i class="fas fa-arrow-circle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="dashboard-card">
                <div class="dashboard-card-header queen">
                    <img src="~/img/queenIcon.png" alt="queenIcon.png">
                    <h1>Достъп до кралиците:</h1>
                </div>
                <div class="dashboard-card-body queen">
                    <a asp-controller="Queen" asp-action="All">
                        <div>
                            <p>Към списъка</p>
                            <i class="fas fa-arrow-circle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
}