@using BeekeeperAssistant.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<<<<<<< .mine
<div class="text-center">
    <h1 class="display-4">@GlobalConstants.SystemName</h1>
</div>




=======
@if (!this.User.Identity.IsAuthenticated)
{
}
else
{

}
>>>>>>> .theirs
