@using BeekeeperAssistant.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Apiary" asp-action="Create">Create Apiary</a>
    <a class="btn btn-primary" asp-controller="Apiary" asp-action="All">All Apiary</a>
</div>
