@using BeekeeperAssistant.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@GlobalConstants.SystemName</h1>
    <p>The best plase to storage you're data!</p>
</div>
