@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Лична информация";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

@*
    Your account contains personal data that you have given us. This page allows you to download or delete that data.
    Deleting this data will permanently remove your account, and this cannot be recovered.
*@

<div class="personal-data">
    <p>Вашият профил съдържа лична информация, която сте ни предоставили. Този пакет ви позволява да изтедлите или
        изтриете информацията</p>
    <p>
        <strong>Изтривайки тази информация, Вие ще изтриете и профилът си за постоянно. След това няма да може да я подновите</strong>
    </p>
    <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
        <button class="btn btn-info" type="submit">Изтегли</button>
    </form>
    <p>
        <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Изтрий</a>
    </p>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
