@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забравихте паролата си?";
}

<div class="forgot-password">
    <div class="form-submit">
        <h1>@ViewData["Title"]</h1>
        <h4>Въведете имейл за подновяване на паролата.</h4>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="input-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Изпрати</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
