@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Промяна на паролата";
}

<div class="forgot-password">
    <div class="center-screen-parent">
        <h3>@ViewData["Title"]</h3>
        <p>Изпратихме ви имейл за промяна на паролата.</p>
    </div>
</div>
