@page
@model LoginModel
@{
    ViewData["Title"] = "Влезте в програмата";
}

<div class="form-box-bg">
    <div class="form-box login-register">
        <h2 class="title-2">@ViewData["Title"]</h2>
        <hr />
        <form id="account" method="post">
            <div class="error-msg" asp-validation-summary="All"></div>
            <div class="input-box">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span class="error-msg" asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span class="error-msg" asp-validation-for="Input.Password" class="error-msg"></span>
            </div>
            <div class="input-box">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="btn-group">
                <input class="btn" type="submit" value="Вход" />
            </div>
            <div class="link-group">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Забравили сте паролата си?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                        Ако нямате профил регистрирайте се тук
                    </a>
                </p>
            </div>
        </form>
        @* <section>
            <h4>Използвайте друг начин за да се регистрирате</h4>
            <hr />
            <p>Предстои да бъдат добавени.</p>
        </section> *@
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
