@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}

<div class="login-register-form">
    <h1 class="mt-3 mb-4">@ViewData["Title"]</h1>
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                @* <div asp-validation-summary="All" class="text-danger"></div> *@
                <div class="input-group">
                    <input type="text" asp-for="Input.Email" required="" />
                    <label asp-for="Input.Email">Имейл</label>
                    <span asp-validation-for="Input.Email"></span>
                </div>
                <div class="input-group">
                    <input type="password" asp-for="Input.Password" required="" />
                    <label asp-for="Input.Password">Парола</label>
                    <span asp-validation-for="Input.Password"></span>
                </div>
                <label class="container" asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                    <span class="checkmark"></span>
                </label>

                <button type="submit" class="submit-btn">@ViewData["Title"]</button>

                @* login with google *@
                @*<div class="form-group">
                    <p>or sign up with:</p>
                    <button type="submit" class="btn btn-login-register text-center w-100">Log in</button>
                    <button type="submit" class="btn btn-login-register text-center w-100">Log in</button>

                </div>*@

                <div class="link-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Забравена парола?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрирай се!</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
