@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="login-register-form">
    <h1>@ViewData["Title"]</h1>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Създай нов профил.</h4>
            <hr />
            @* <div asp-validation-summary="All" class="text-danger"></div> *@
            <div class="input-group">
                <input type="text" asp-for="Input.Email" required="" />
                <label asp-for="Input.Email">Имейл</label>
                <span asp-validation-for="Input.Email"></span>
            </div>

            <div class="input-group">
                <input type="password" asp-for="Input.Password" required="" />
                <label asp-for="Input.Password">Парола</label>
                <span asp-validation-for="Input.Password"></span>
            </div>

            <div class="input-group">
                <input type="password" asp-for="Input.ConfirmPassword" required="" />
                <label asp-for="Input.ConfirmPassword">Потвърдете паролата</label>
                <span asp-validation-for="Input.ConfirmPassword"></span>
            </div>

            <button type="submit" class="submit-btn">@ViewData["Title"]</button>

            <div class="link-group">
                <p>
                    <a id="forgot-password" asp-page="./Login">Имате регистрация?</a>
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
