@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Подновете паролата си";
}

<div class="form-submit">
    <h1>@ViewData["Title"]</h1>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Input.Code" type="hidden" />
        <div class="form-content">
            <div class="form-group">
                <div class="input-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Поднови</button>
    </form>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
