@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Паролата ви беше успешно променена";
}

<div class="center-screen-parent">
    <h3>@ViewData["Title"]</h3>
    <p>
        <a asp-page="./Login" class="active-link">Моля влезте с новата си парола</a>.
    </p>
</div>
