.main-header{
    background-color:orange;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 250px;
    box-shadow: 0px 0px 37px -14px rgba(0,0,0,0.39);
}

.main-content{
    margin-left: 250px;
    margin-bottom: 50px;
}

.main-header-list{
    list-style: none;
    padding: 0%;
    margin: 0%;
    width: 100%;
}

.main-header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header-list li{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;

}

.main-header-img-wrapper{
    margin-top: 20px;
}

.main-list-item{
    display: flex;
    align-items: center;
    
}

.main-list-item a{
    width: 100%;
    max-width: 100px;
    margin-left: 20px;
}


.main-header-list li:hover{
    background-color: red;
    cursor: pointer;
}

.main-header-img-wrapper img{
    width: 150px;
    border: 4px solid white;
    height: 150px;
    border-radius: 50%;
}

.main-header-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: left;
}

.message{
    margin: 25px 0;

}

/* Media Query */


.main-footer{
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 100%;
    background-color: orange;
    text-align: center;
    color: white;
    padding: 5px 0;
    box-shadow: 0px 0px 37px -14px rgba(0,0,0,0.39);
    
}