@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "OpenSans", sans-serif;
} 

/* Global variables */
:root {
    --orange: #FF7800;
    --main-background: #110400;
    --white: #ffffff;
}


/* Side navigation */
.sidebar-navigation {
    background-color: var(--main-background);
    height: 100%;
    width: 100%;
    max-width: 270px;
    position: absolute;
}

/* Side navigation user area */
.sidebar-navigation .user-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
    margin-bottom: 50px;
}

.sidebar-navigation .user-image {
    margin-top: 50px;
}

.sidebar-navigation .user-image img {
    width: 130px;
    height: 130px;
    border-radius: 100px;
    border: 3px solid var(--orange);
}

.sidebar-navigation .user-greeting {
    margin-top: 15px;
    text-align: center;
    word-break: break-all;
    padding: 0 15px;
}

.sidebar-navigation .user-area hr {
    margin: 10px;
    height: 5px;
    background-color: var(--white);
    border-radius: 3px;
    width: 70%;
}

/* Side navigation dropdowns*/
.sidebar-dropdown {
    border-top: 2px solid white;
}

.sidebar-dropdown.start {
    border-top: none;
}

.primary, .secondary {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    color: var(--white);
}

.primary:hover,
.secondary:hover {
    color: var(--orange);
    border-left: 3px solid var(--orange);
}

.primary {
    text-decoration: none;
    color: var(--white);
}

.primary .fas.fa-angle-left {
    position: absolute;
    left: 250px;
}

.secondary {
    padding-left: 30px;
}

.secondary{
    text-decoration: none;
    color: var(--white);
}

/* .apiary-nav {
    margin-top: 50px;
}

.primary {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 0px;
}

.primary a {
    color: black;
    font-size: 18px;
}

.secondary {
    background-color: #664339;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
}

.secondary a {
    color: white;
    font-size: 15px;
}

.leave {
    position: absolute;
    top: 10px;
    left: 10px;
}

.leave button {
    background-color: transparent;
    border: none;
}

.fa-sign-out-alt {
    color: white;
    font-size: 23px;
}

main {
    margin-left: 270px;
} */

.rotate-270 {
    transform: rotate(270deg);
}

.hide {
    display:  none;
}

.show {
    display: block;
}
