@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    margin:10px 0;
}

li {
    list-style: none;
}

ul {
    padding: 0%;
}

a {
    text-decoration: none;
}

.sidebar-breadcrumb-title {
    color: white;
    text-align: right;
}

.sidebar-breadcrumb-title h1 {
    font-size: 16px;
    margin-right: 15px;
}

.main-aside {
    display: flex;
    flex-direction: column;
    background-color: #110400;
    width: 300px;
    height: 100%;
    position: relative;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.nav-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-main nav {
    width: 100%;
}

.nav-main-list-item button {
    width: 100%;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
}

.nav-main-list-item button {
    /* border-top: 1px solid #281402; */
}

.nav-main-list-item button:hover {
    background-color:  #FF7800 !important;
}

.nav-main-list li {
    width: 100%;
}

.nav-main-list-item li {
    display: flex;
    justify-content: center;
}

.nav-main-list-item ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture-wrapper {
    display: flex;
    justify-content: center;
    max-width: 125px;
}

.profile-picture-wrapper img {
    width: 100%;
    border: 8px solid white;
    border-radius: 50%;
}

.nav-button {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-text {
    display: block;
    margin: 0 auto;
}

.fa-angle-left {
    display: block !important;
    position: relative;
    right: 40px;
    transition: 0.3s;
}

.fa-angle-left.rotate-90 {
    transform: rotate(-90deg);
}

.nav-main-list-item ul li {
    background-color: #30221f;
    border: 1px solid #281402;
}

.nav-main-list-item ul li a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

    .nav-main-list-item ul li a:hover {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px 0px;
        background-color: #4d3632;
    }

.nav-main-list-item .queen-options,
.nav-main-list-item .beehive-options,
.nav-main-list-item .api-options {
    display: none;
}

.nav-main-list-item .show {
    display: block;
}

.nav-main-list-item ul li, .nav-main-list-item button {
    font-size: 17px;
}

.nav-main-list-item li a {
    color: white;
}

.greeting-message {
    margin: 20px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

hr {
    margin: 0px;
    height: 3px;
    background-color: white;
    border-radius: 20px;
}

.profile a button {
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    border: none;
    color: white;
    background: #FF7800;
    margin-top: 20px;
    cursor: pointer;
}

.line {
    width: 75%;
}

.main-document {
    height: 100%;
    position:fixed;
    top:0;
}
.main-content {
    margin-left: 300px;
    height:100%;
}

.btn-logout {
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    cursor:pointer;
    border-radius: 7px;
    font-size: 20px;
}

.btn-logout:hover {
    background-color: red;
}

/* Tooltip */

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color:  #FF7800;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #FF7800 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-left {
    top: 40%;
    left: 104%;
}

.tooltip-right {
    top: -5px;
    left: 125%;
}

.tooltip-top {
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-bottom {
    top: 135%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-left::after {
    top: 50%;
    left: 100%;
    rotate: 270deg;
}

.tooltip-right::after {
    top: 50%;
    right: 100%;
    rotate: 90deg;
}

.tooltip-top::after {
    top: 100%;
    left: 50%;
}

.tooltip-bottom::after {
    bottom: 100%;
    left: 50%;
}

/* Breadcrumb */

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px;
    color: white;
    background-color: #110400;
}

.breadcrumb h1 {
    font-size: 16px;
    margin-right: 15px;
}

.breadcrumb-list {
    display: flex;
    margin: 10px;
    padding: 0;
}

.breadcrumb-list li:nth-child(n+2):before {
    content: "/";
    display: inline-block;
    margin: 0 0.2em;
    color: #F29422;
}

.breadcrumb-list li a {
    color: white;
}

.breadcrumb-list li a:hover {
    color: #F29422;
}

.breadcrumb-item.active {
    color: #F29422;
}

/* Idex Lists Links Cards */

.all-lists-cards {
    border: 2px solid lightgray;
    margin: 20px;
    display: block;
    border-radius: 5px;
}

.all-lists-cards h1 {
    background-color: white;
    width: 160px;
    margin: -15px 15px 20px;
    text-align: center;
}

.all-lists-cards .lists-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.all-lists-cards .lists-items a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: black;
}

.all-lists-cards .lists-items a i {
    font-size: 25px;
    color:  #3EBA9B;
}

.all-lists-cards .lists-items img {
    width: 50px;
}

.apiaries-list-card, .beehives-list-card, .queens-list-card {
    border: 2px solid lightgray;
    margin-bottom: 40px;
}

.apiaries-list-card-title, .beehives-list-card-title, .queens-list-card-title {
    display: flex;
    justify-content: space-between;
    width: 290px;
    padding: 10px;
    color: white;
    background-color: #3EBA9B;
    border-bottom: 2px solid lightgray;
}

.apiaries-list-card .apiaries-list-card-title {
    background-color: #3EBA9B !important;
}

.beehives-list-card .beehives-list-card-title {
    background-color: #FEAD34 !important;
}

.queens-list-card .queens-list-card-title {
    background-color: #DA3C3D !important;
}

.apiaries-list-card-link a i {
    color: #3EBA9B !important;
}

.beehives-list-card-link a i {
    color: #FEAD34 !important;
}

.queens-list-card-link a i {
    color: #DA3C3D !important;
}
