@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  margin-left: 270px;
}

body {
  font-family: "OpenSans", sans-serif;
}

a {
  text-decoration: none;
}

.content {
  padding: 20px 50px 0 50px;
}

/* Global variables */
:root {
  --orange: #ff7800;
  /* --red: #AB0000; */
  --red: #bf0a0a;
  --red-hover: #8c0712;
  --green: #014017;
  --green-hover: #1a5918;
  --blue: #0d6493;
  --blue-hover: #1287c6;
  --main-background: #110400;
  --gray-background: #f1f2f3;
  --white: #ffffff;
  --lightgray: #d3d3d3;
  --apiary-color: #17a2b8;
  --apiary-color-hover: #6ce7e3;
  --beehive-color: #f29422;
  --beehive-color-hover: #fead34;
  --queen-color: #da3c3d;
  --queen-color-hover: #d9695d;
}

/* Side navigation */
.sidebar-navigation {
  background-color: var(--main-background);
  height: 100%;
  width: 100%;
  max-width: 270px;
  position: absolute;
}

/* Side navigation user area */
.sidebar-navigation .user-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--white);
  margin-bottom: 50px;
}

.sidebar-navigation .user-image {
  margin-top: 50px;
}

.sidebar-navigation .user-image img {
  width: 130px;
  height: 130px;
  border-radius: 100px;
  border: 3px solid var(--orange);
}

.sidebar-navigation .user-greeting {
  margin-top: 15px;
  /* margin-bottom: 15px; */
  text-align: center;
  word-break: break-all;
  padding: 0 15px;
}

.sidebar-navigation .user-area hr {
  margin: 10px;
  height: 5px;
  background-color: var(--white);
  border-radius: 3px;
  width: 70%;
}

.sidebar-navigation .user-area .profile {
  color: var(--white);
}

.sidebar-navigation .navigations {
  margin-bottom: 50px;
}

/* Side navigation dropdowns*/
.sidebar-dropdown {
  border-top: 2px solid white;
}

.sidebar-dropdown.start {
  border-top: none;
}

.primary,
.secondary {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
  color: var(--white);
}

.primary:hover,
.secondary:hover {
  color: var(--orange);
  border-left: 3px solid var(--orange);
}

.primary {
  text-decoration: none;
  color: var(--white);
}

.primary .fas.fa-angle-left {
  position: absolute;
  left: 250px;
}

.secondary {
  padding-left: 30px;
}

.secondary {
  color: var(--white);
}

/*

.leave {
    position: absolute;
    top: 10px;
    left: 10px;
}

.leave button {
    background-color: transparent;
    border: none;
}

.fa-sign-out-alt {
    color: white;
    font-size: 23px;
}

*/

/* Apiaries */
.btn.apiary-create {
  float: right;
  background-color: var(--apiary-color);
  border: none;
  color: var(--white);
}

.btn.apiary-create:hover {
  background-color: var(--apiary-color-hover);
}

/* Combined */
.title-1 {
  text-align: center;
  margin-bottom: 20px;
}

.h1 {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid var(--main-background);
  border-radius: 3px;
  margin-bottom: 10px;
}

.btn.apiary,
.btn.beehive,
.btn.queen {
  font-size: 18px;
  color: var(--white);
  border: none;
}

.btn.apiary {
  background-color: var(--apiary-color);
}

.btn.apiary:hover {
  background-color: var(--blue-hover);
}

.btn.beehive {
  background-color: var(--beehive-color);
}

.btn.beehive:hover {
  background-color: var(--beehive-color-hover);
}

.btn.queen {
  background-color: var(--queen-color);
}

.btn.beehive:hover {
  background-color: var(--queen-color-hover);
}

.data-table {
  border-collapse: collapse;
  width: 100%;
}

.data-table td,
.data-table th {
  border: 1px solid var(--lightgray);
  padding: 8px;
  text-align: left;
}

td.number {
  padding: 0;
}

td.number a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 8px;
  color: var(--blue);
}

td.number a:hover {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 8px;
  color: var(--blue-hover);
}

td.edit {
  padding: 0;
}

td.edit div {
  display: flex;
  justify-content: space-around;
}

td.edit div a.mark {
  color: var(--blue);
}

td.edit div a.mark:hover {
  color: var(--blue-hover);
}

td.edit div a.edit {
  color: var(--green);
}

td.edit div a.edit:hover {
  color: var(--green-hover);
}

td.edit div a.delete {
  color: var(--red);
}

td.edit div a.delete:hover {
  color: var(--red-hover);
}

.form-box {
  position: absolute;
  top: 50%;
  left: 58%;
  padding: 40px;
  transform: translate(-50%, -50%);
  /* background: rgba(0,0,0,.5); */
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  /* border-radius: 5px; */
  width: 450px;
}

.form-box .back {
  color: var(--red);
}

.form-box .back:hover {
  color: var(--red-hover);
}

.form-box h2 {
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
}

.form-box .input-apiary-number {
  display: flex;
}

.form-box .input-apiary-number .input-box label {
  height: 40px;
}

.form-box .input-apiary-number .input-box input {
  width: 170px;
}

.form-box .input-apiary-number .input-box #CityCode {
  text-align: right;
}

.form-box .input-apiary-number span {
  padding: 0px 10px;
  font-size: 30px;
  /* font-weight: bold; */
  align-self: flex-end;
}

.form-box .input-box {
  display: grid;
  font-size: 18px;
}

.form-box .input-box label {
  margin-bottom: 5px;
}

.form-box .input-box input,
.form-box .input-box select {
  outline: none;
  font-size: 18px;
  border: 3px solid var(--lightgray);
  padding: 3px;
}

.form-box .input-box input:focus,
.form-box .input-box select:focus {
  border: 3px solid var(--orange);
}

.form-box .btn-group {
  display: flex;
  justify-content: flex-end;
}

.info-preview {
  display: flex;
  justify-content: space-between;
}

.info-preview .info-img {
  max-height: 300px;
}

.info-preview .info-table {
  width: 100%;
}

.rotate-270 {
  transform: rotate(270deg);
}

.hide {
  display: none;
}

.show {
  display: block;
}
