@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    margin:10px 0;
}

li {
    list-style: none;
}

ul {
    padding: 0%;
}

a {
    text-decoration: none;
}

.main-aside {
    display: flex;
    flex-direction: column;
    background-color: #110400;
    width: 300px;
    height: 100%;
    position: relative;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.nav-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .nav-main nav {
        width: 100%;
    }

.nav-main-list-item button {
    width: 100%;
    background-color: #2B1C12;
    border: 1px solid #281402;
    color: white;
    outline: none;
}

.nav-main-list li {
    width: 100%;
}

.nav-main-list-item li {
    display: flex;
    justify-content: center;
}

.nav-main-list-item ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture-wrapper {
    display: flex;
    justify-content: center;
    max-width: 125px;
}

.profile-picture-wrapper img {
    width: 100%;
    border: 8px solid white;
    border-radius: 50%;
}

.nav-button {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-text {
    display: block;
    margin: 0 auto;
}

.fa-angle-left {
    display: block !important;
    position: relative;
    right: 40px;
    transition: 0.3s;
}

.fa-angle-left.rotate-90 {
    transform: rotate(-90deg);
}

.nav-main-list-item ul li {
    background-color: #705842;
    border: 1px solid #281402;
}

.nav-main-list-item ul li a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.nav-main-list-item .queen-options,
.nav-main-list-item .beehive-options,
.nav-main-list-item .api-options {
    display: none;
}

.nav-main-list-item .show {
    display: block;
}

.nav-main-list-item ul li, .nav-main-list-item button {
    font-size: 17px;
}

.nav-main-list-item li a {
    color: white;
}

.greeting-message {
    margin: 20px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

hr {
    margin: 0px;
    height: 3px;
    background-color: white;
    border-radius: 20px;
}

.profile a button {
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    border: none;
    color: white;
    background: #FF7800;
    margin-top: 20px;
    cursor: pointer;
}

.line {
    width: 75%;
}

.main-document {
    height: 100%;
    position:fixed;
    top:0;
}
.main-content {
    margin-left: 300px;
    height:100%;
}

.btn-logout {
    background-color: red;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    cursor:pointer;
    border-radius: 7px;
}

/* Breadcrumb */

.breadcrumb {
    display: flex;
}

.breadcrumb li:nth-child(n+2):before {
    content: "/";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}



.all-lists-cards {
    display: block;
    text-align: center;
}

.all-lists-cards .lists-items {
    display: flex;
    flex-wrap: wrap;
}

.all-lists-cards .apiaries-list-card a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.all-lists-cards .apiaries-list-card {
    margin: 0 auto;
    background-color: #0e918c;
}
