/* Global variables */
:root {
  --orange: #ff7800;
  /* --red: #AB0000; */
  --red: #bf0a0a;
  --red-hover: #8c0712;
  --green: #014017;
  --green-2: #558b2f;
  --green-hover: #1a5918;
  --blue: #0d6493;
  --blue-hover: #1287c6;
  --main-background: #110400;
  --gray-background: #f1f2f3;
  --white: #ffffff;
  --lightgray: #d3d3d3;
  --apiary-color: #17a2b8;
  --apiary-color-hover: #6ce7e3;
  --beehive-color: #f29422;
  --beehive-color-hover: #fead34;
  --queen-color: #da3c3d;
  --queen-color-hover: #d9695d;
}

@media only screen and (max-width: 1023px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .navbar .navbar-brand .logo-link .link {
    padding: 20px 0;
  }

  .navbar .ul-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar .ul-out li {
    width: 100%;
  }

  .navbar .ul-out li a {
    width: 100%;
    text-align: center;
    border-top: none;
  }

  .navbar .ul-out li a {
    text-decoration: none;
    color: var(--beehive-color);
    font-weight: 500;
  }

  .navbar .ul-out li a {
    padding: 20px;
    border: none;
  }

  .navbar .ul-out li a:hover {
    color: var(--orange);
    text-decoration: underline;
    border: none;
    border-left: 5px solid var(--orange);
    border-right: 5px solid var(--orange);
  }

  .navbar .ul-out li .active {
    color: var(--white);
    border: none;
    border-left: 5px solid var(--white);
    border-right: 5px solid var(--white);
  }

  .navbar .ul-login-register {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    padding: 20px 0;
  }

  .about-page,
  .contact-page {
    padding: 50px 20px;
  }

  .contact-page .form-box {
    padding: 20px;
    width: 90%;
  }

  .banner-text h1 {
    font-size: 7vw;
  }

  .banner-text p {
    font-size: 2vw;
  }
}

/* For banner min-width: 768px and max-width: 1023px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .banner {
    height: 500px;
  }

  .banner-text h1 {
    font-size: 7vw;
  }

  .banner-text p {
    font-size: 2vw;
  }
}

/* For banner max-width: 767px */
@media only screen and (max-width: 767px) {
  .banner {
    height: 400px;
  }

  .banner-text h1 {
    font-size: 8vw;
  }

  .banner-text p {
    font-size: 3.5vw;
  }
}
