html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {

}

.navbar-custom {
    background-color: #110400;
}

.navbar-brand {
    margin-right: 2rem;
}

.logo {
    width: 50px;
    margin-right: 10px;
}

.logo-link :hover {
    color: wheat;
}

.logo-link {
    color: wheat;
}

nav ul li a {
    color: white;
    letter-spacing: 2px;
}

a.login-btn {
    display: inline-block;
    padding: 8.6px 15px 8.6px 0px;
    margin: 0 4.8px 4.8px 0;
    text-decoration: none;
    color: white;
}

a.login-btn:hover {
    color: #F29422;
}

a.register-btn3 {
    display: inline-block;
    padding: 5.6px 15px;
    border: 3px solid;
    border-radius: 30px;
    margin: 0 4.8px 4.8px 0;
    text-decoration: none;
    font-weight: bold;
    color: #F29422;
}

a.register-btn3:hover {
    color: white;
}

.banner {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/banner.jpg);
    /* min-height: 100vh; */
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid #F29422;
    border-top: 5px solid #F29422;
}

.banner-text {
    color: white;
    padding: 150px;
    text-align: center;
}

.banner-text h1 {
    margin: 10px;
    padding-bottom: 20px;
    border-bottom: 5px solid #F29422;
    font-size: 4.5rem;
}

.banner-text p {
    padding-top: 5px;
}

.card-group-functions {
    border-bottom: 5px solid #F29422;
    background-color: #110400;
}

.card-group-functions h2 {
    color: white;
    margin: 0 35%;
    padding: 10px;
    border-bottom: 5px solid #F29422
}

.card-container {
	position: relative;
	width: 18rem;
	perspective: 200rem;
    height: 350px;
}

.card-container:hover .card-front{
	transform: rotateY(180deg);
}

.card-container:hover .card-back{
	transform: rotateY(0deg);
}

.card-back{
	transform: rotateY(180deg);
    background-color: #F29422;
    color: white;
}

.card{
	position: absolute;
	height: 100%;
	width: 100%;
	transition: all 0.9s;
    backface-visibility: hidden;
    border-radius: 5px;
}

.card-back .card-body{
    margin: 30px;
    padding: 0;
    background-color: #a63f0336;
    border-radius: 5px;
}

.card-body a{
	position: absolute;
	top:50%;
	left: 50%;
	margin: -15% 0 0 -23%;
}

.card-functions {
    background-color: #F29422;
    color: white;
}

/* Sticky footer styles
-------------------------------------------------- */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

footer {
    background-color: #110400;
    color: white;
}

footer .icon {
    color: white;
    font-size: 20px;
}

footer .icon :hover {
    color: #F29422;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}