@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
} 

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #110400;
    border-bottom: 5px solid #F29422;
}

.navbar .navbar-brand {
    display: flex;
    align-items: center;
}

.navbar .navbar-brand .logo {
    width: 50px;
}

.navbar .navbar-brand .logo-link {
    text-decoration: none;
    color: #f29422;
    margin-left: 20px;
    font-weight: 500;
    font-size: 20px;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.navbar ul li {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.navbar .ul-out li {
    letter-spacing: 0.2em;
}

.navbar ul li a {
    text-decoration: none;
    color: #f29422;
    font-weight: 500;
}

.navbar .ul-out li a {
    padding: 20px 20px;
    border-top: 5px solid transparent;
}

.navbar .ul-out li a:hover {
    border-top: 5px solid white;
}

.navbar ul li .active {
    border-top: 5px solid #f29422;
}

.navbar .ul-login-register li .login-btn {
    color: white;
    padding: 8px 15px;
}

.navbar .ul-login-register li .login-btn:hover {
    color: #f29422;
}

.navbar .ul-login-register li .register-btn {
    color: white;
    border: 3px solid #f29422;
    border-radius: 20px;
    padding: 5px 15px;
}

.navbar .ul-login-register li .register-btn:hover {
    border: 3px solid white;
}

/* Cookies Policy*/

.cookies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    padding: 20px;
    background-color: #F29422;
    color: white;
    opacity: 0.9;
    transition: opacity 0.6s;
    bottom: 0;
}

.cookies button {
    color: white;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
}

.cookies button:hover {
    color: whitesmoke;
}

/* Banner */

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/banner.jpg);
    height: 500px;
    background-size: cover;
    background-position-y: top;
    color: wheat;
    border-bottom: 5px solid #F29422;
}

.banner-text h1 {
    font-size: 4em;
}

.banner-text p {
    font-size: 1.3em;
    margin-top: 20px;
    color: wheat;
}

/* App Benefits */

.app-benefits-cards {
    background-color: #110400;
}

.app-benefits-cards {
    background-color: #110400;
}

.app-benefits-cards h1 {
    text-align: center;
    color: wheat;
    padding-top: 30px;
}

.app-benefits-cards hr {
    border: 2px solid #F29422;
    width: 550px;
    margin: 20px auto !important;
}

.app-benefits-cards-collection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.app-benefits-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
    margin: 4% 0;
}

.app-benefits-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.app-benefits-card:hover .app-benefits-card-inner {
    transform: rotateY(180deg);
}

.app-benefits-card-front, .app-benefits-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.app-benefits-card-front {
    background-color: #F28705;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
}

.app-benefits-card-back {
    background-color: #fffdfd;
    color: #F28705;
    border: 3px solid #F28705;
    border-radius: 50%;
    transform: rotateY(180deg);
}

.app-benefits-card-body {
    width: 90%;
}

.app-benefits-card-body i {
    font-size: 100px;
}

/* Footer */

footer {
    position: absolute;
    width: 100%;
    background-color: #110400;
    border-top: 5px solid #F29422;
    color: white;
}

footer h1 {
    font-size: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px auto;
}

.footer-social {
    text-align: center;
    margin: 10px;
}

.footer-about {
    margin: 10px;
}

.footer-about ul {
    list-style: none;
}

.footer-about ul li {
    margin-top: 10px;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin-top: 10px;
}

.footer-about ul li a {
    text-decoration: none;
    color: white;
}

.footer-about ul li a:hover {
    color: #F29422;
}

.footer-social ul li a {
    text-decoration: none;
    color: white;
}

.footer-social ul li a:hover {
    color: #F29422;
}

.footer-social ul li a i {
    font-size: 25px;
    transition: 1.5s;
}

.footer-social ul li a i:hover {
    transform:rotate(360deg);
}

.footer-copyright {
    text-align: center;
    padding: 10px;
}

/* Login-Register-Forms */

.login-register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    padding: 20px 0;
    
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/bannerLR.jpg);
    background-size: cover;
    background-position-y: top;
    color: white;
}

.login-register-form h1 {
    padding-top: 30px;
}

.login-register-form h4 {
    text-align: center;
}

.login-register-form hr {
    border: 2px solid #F29422;
    width: 550px;
    margin: 20px auto !important;
}



.input-group {
	position:relative;
	margin-bottom:25px;
}

.input-group label {
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
    pointer-event:none;
	transition: all 0.5s ease-in-out;
}

.input-group input { 
  border:0;
  border-bottom:1px solid white;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:white;
}

.input-group input:focus { 
 border:none;	
 outline:none;
 border-bottom:1px solid #F29422;	
}

.input-group span { 
    color: red;	
    font-weight: 500;
}

.submit-btn {
	color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
	background-color:#e88207;
	outline: none;
    border: 0;
	padding:10px 20px;
    margin-top:50px;
    margin-bottom: 30px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}

.submit-btn:hover {
	background:#F29422;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
	top:-12px;
	font-size:12px;
	
}

.link-group a {
    color: white;
}

.link-group a:hover {
    color: #F29422;
}

.link-group a:visited {
    color: green;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 20%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #F29422;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #F29422;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

