@model BeekeeperAssistant.Web.ViewModels.Apiaries.AllUserApiariesViewModel
@using BeekeeperAssistant.Common

@{
    ViewData["Title"] = "Пчелини всички";
}

@foreach (var apiary in Model.AllUserApiaries)
{
    <div>
        <a class="btn btn-info" href="/Apiary/@apiary.Number">@apiary.Number</a>
        <p></p>
    </div>
}