@model BeekeeperAssistant.Web.ViewModels.Harvest.CreateHarvestInputModel
@using BeekeeperAssistant.Data.Models;
@{
    this.ViewData["Title"] = "Добавяне на добив";
}

<div class="breadcrumb">
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Начало</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ul>
    <div class="breadcrumb-leave">
        <form asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
            <button type="submit" class="exit"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
</div>

<div class="content">
    <div class="form-box">
        <form asp-controller="Harvest" asp-action="Create" method="post">
            <a class="back-arrow" asp-controller="Beehive" asp-action="All">
                <i class="fas fa-arrow-left"></i>
            </a>
            <h2>@ViewData["Title"]</h2>
            <div asp-validation-summary="All"></div>
            <div class="row-form-group">
                <div class="input-group">
                    <label asp-for="HarvestName"></label>
                    <input asp-for="HarvestName">
                    <span class="error-msg" asp-validation-for="HarvestName"></span>
                </div>
                <div class="input-group">
                    <label asp-for="DateOfHarves"></label>
                    <input asp-for="DateOfHarves">
                    <span class="error-msg" asp-validation-for="DateOfHarves"></span>
                </div>
            </div>
            <div class="row-form-group">
                <div class="input-group">
                    <label asp-for="Product"></label>
                    <input asp-for="Product">
                    <span class="error-msg" asp-validation-for="Product"></span>
                </div>
                <div class="input-group">
                    <label asp-for="HoneyType"></label>
                    <select asp-for="HoneyType" asp-items="@Html.GetEnumSelectList<HoneyType>()"></select>
                    <span class="error-msg" asp-validation-for="HoneyType"></span>
                </div>
            </div>
            <div class="row-form-group">
                <div class="input-group">
                    <label asp-for="Amount"></label>
                    <input asp-for="Amount">
                    <span class="error-msg" asp-validation-for="Amount"></span>
                </div>
                <div class="input-group">
                    <label asp-for="Note"></label>
                    <textarea asp-for="Note" cols="30" rows="5"></textarea>
                    <span class="error-msg" asp-validation-for="Note"></span>
                </div>
            </div>
            <input type="hidden" asp-for="BeehiveId">
            <div class="btn-group">
                <input class="btn beehive-create" type="submit" value="Добави добив" />
            </div>
        </form>
    </div>
</div>
