@using BeekeeperAssistant.Common
@using BeekeeperAssistant.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav class="navbar navbar-expand-lg navbar-custom">
    <a class="navbar-brand logo-link" href="#">
        <img class="logo" src="~/images/BA_demoLogo.png" alt="logo" />
        Beekeeper Assistant
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <img class="navbar-toggler-icon" src="~/images/Colapse_menu_49.png" width="50" />
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a href="#" class="login-btn">Login</a>
            </li>
            <li class="nav-item">
                <a href="#" class="register-btn">Register</a>
            </li>

            <li class="nav-item">
                <a href="#" class="register-btn2">Register</a>
            </li>

            <li class="nav-item">
                <a href="#" class="register-btn3">Register</a>
            </li>




            @* -- forprofile *@
            @*<li class="nav-item dropdown">
        .
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-default"
                             aria-labelledby="navbarDropdownMenuLink-333">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>*@
        </ul>
    </div>
</nav>