@using BeekeeperAssistant.Common
@using BeekeeperAssistant.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    string activeClass = "active";
}

<nav class="navbar">
    <div class="navbar-brand">
        <img class="logo" src="~/img/BA_demoLogo.png" alt="logo" />
        <a class="logo-link" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
    </div>
    <ul class="ul-out">
        <li>
            <a class="@if(this.ViewData["Title"].ToString() == "Начало"){@activeClass}" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
        </li>
        <li>
            <a class="" asp-area="" asp-controller="Home" asp-action="About">За нас</a>
        </li>
        <li>
            <a class="@if(this.ViewData["Title"].ToString() == "Контакти"){@activeClass}" asp-area="" asp-controller="Home" asp-action="Contact">Контакти</a>
        </li>
    </ul>
    <ul class="ul-login-register">
        <li>
            <a class="login-btn" asp-area="Identity" asp-page="/Account/Login">Вход</a>
        </li>
        <li>
            <a class="register-btn" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
    </ul>
</nav>
