@using BeekeeperAssistant.Common
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@GlobalConstants.SystemName - @this.ViewData["Title"]</title>

    <link rel="icon" src="/BeekeeperAssistant.Web/wwwroot/images/BA_demoLogo.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous"></script>

    <environment names="Development">
        <link href="~/css/loggedInUser.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/loggedInUser.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>

<body>
    <partial name="_LoggedInUserPartial"/>
        <main class="main-content">
            @this.RenderBody()
        </main>
        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
            <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
            <script src="~/js/loggedInUser.js" asp-append-version="true"></script>
            <script src="~/js/loggedInUser.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
            <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
            <script src="~/js/loggedInUser.min.js" asp-append-version="true"></script>
        </environment>

        @this.RenderSection("Scripts", required: false)
</body>

</html>
