@{
    string greeting = "";
    if (DateTime.Now.Hour < 12)
    {
        greeting = "Добро утро";
    }
    else if (DateTime.Now.Hour < 18)
    {
        greeting = "Добър ден";
    }
    else
    {
        greeting = "Добър вечер";
    }
}
<section class="main-document">
    <div class="main-aside">
        <div class="sidebar-breadcrumb-title">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                <button type="submit" class="btn-logout"><i class="fas fa-sign-out-alt"></i></button>
            </form>
            <h1>Намирате се на:</h1>
        </div>
        <div class="aside-content">
            <div class="profile">
                <div class="profile-picture-wrapper">
                    <img src="~/images/beekeeper.png" alt="beekeeper image" />
                </div>
                <span class="greeting-message">@greeting, @User.Identity.Name!</span>
                <hr class="line">
                <a class="profile-button" asp-area="Identity" asp-page="/Account/Manage/Index">
                    Моят профил
                </a>
            </div>
            <section class="nav-main">
                <nav>
                    <ul class="nav-main-list">
                        <li class="nav-main-list-item">
                            <a asp-controller="Home" asp-action="Index">
                                <button class="home-button nav-button">
                                    <span class="btn-text">Начало</span>
                                    <i class="fas fa-angle-left" style="color: transparent;"></i>
                                </button>
                            </a>
                        </li>
                        <li class="nav-main-list-item">
                            <button class="apiary-button nav-button">
                                <span class="btn-text">Пчелини</span>
                                <i class="fas fa-angle-left"></i>
                            </button>
                            <ul class="api-options">
                                <li>
                                    <a asp-controller="Apiary" asp-action="All">Всички пчелини</a>
                                </li>
                                <li>
                                    <a asp-controller="Apiary" asp-action="Create">Добави пчелин</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-main-list-item">
                            <button class="beehive-button nav-button">
                                <span class="btn-text">Кошери</span>
                                <i class="fas fa-angle-left"></i>
                            </button>
                            <ul class="beehive-options">
                                <li>
                                    <a asp-controller="Beehive" asp-action="All">Всички кошери</a>
                                </li>
                                <li>
                                    <a asp-controller="Beehive" asp-action="Create">Добави кошер</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-main-list-item">
                            <button class="queen-button nav-button">
                                <span class="btn-text">Царици</span>
                                <i class="fas fa-angle-left"></i>
                            </button>
                            <ul class="queen-options">
                                <li>
                                    <a asp-controller="Queen" asp-action="All">Всички царици</a>
                                </li>
                                <li>
                                    <a asp-controller="Queen" asp-action="Create">Добави царица</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </section>  
        </div>      
    </div>
</section>