<link rel="stylesheet" href="~/css/loggedIn/views/scrollToTop.css">

<div id="btn" onclick="topFunction()" title="Върни към началото ^">
    <i class="fas fa-arrow-up"></i>
</div>

<script src="~/js/views/scrollToTop.js"></script>
