@if (TempData[GlobalConstants.SuccessMessage] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData[GlobalConstants.SuccessMessage]
    </div>
}

@if (TempData[GlobalConstants.ErrorMessage] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData[GlobalConstants.ErrorMessage]
    </div>
}

@if (TempData[GlobalConstants.InfoMessage] != null)
{
    <div class="alert alert-info" role="alert">
        @TempData[GlobalConstants.InfoMessage]
    </div>
}
