@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
}

<div class="content center error">
    <h1 class="text-danger">@Model.Title</h1>
    <h2 class="text-danger">@Model.Message</h2>
    @if (this.Model.ShowRequestId)
    {
        <p>
            <strong>ID:</strong> <code>@this.Model.RequestId</code>
        </p>
    }

    <div class="error-page-btns">
        @if (this.User.Identity.IsAuthenticated)
        {
            <a class="report" asp-area="App" asp-controller="Feedback" asp-action="Create"
            asp-route-feedbackType="@FeedbackType.Report">
                <i class="fas fa-exclamation-triangle"></i>
                <p>Подайте сигнал</p>
            </a>
            <a class="system" asp-area="App" asp-controller="Home" asp-action="Index">
                <i class="fas fa-chevron-circle-left"></i>
                Обратно към системата
            </a>
        }
        else
        {
            <a class="connect" asp-area="" asp-controller="Home" asp-action="Contact">
                <i class="fas fa-envelope"></i>
                Свържете се с нас
            </a>
            <a class="system" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="fas fa-chevron-circle-left"></i>
                Обратно към системата
            </a>
        }
    </div>
</div>
